#root {
  margin: 0 4rem 0 4rem;
  padding: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameCardContainer {
  display: flex;
  justify-content: space-between;
}
