.gameCard {
    display: flex;
    flex-direction: column;
    background-color: var(--background-light);
    max-width: 14rem;
    border-radius: 0.5rem;
}


.gameCardBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    height: 100%;
  }

.gameCardBody button {
    margin-top: auto;
    align-self: flex-end;
  }

.gameCardBody h3,.gameCardBody p {
    margin: 0;
}

.gameCardBody p {
    color: var(--secondary);
}

.gameCover {
    border-radius: 0.5rem 0.5rem 0 0;
    max-height: 13rem;
    position: relative;
}

.notifyBtn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}