:root {
  --background: #161a1e;
  --background-light: #242c33;
  --primary: #fbfbfb;
  --secondary: #9a9a9a;
  --accent: #e58e27;
  --accent-dark: #c77e1b;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--primary);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
